header {
    nav {
        grid-area: nav;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-areas: 
            "back . . . name";
        
        font-family: var(--font-heading);
        font-size: 1.5rem;

        span.back {
            grid-area: back;

            a {
                color: var(--text-color);
            }
        }

        span.name {
            grid-area: name;
        }
    }
}