@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --width: 720px;
    --font-main: 'Space Mono', monospace;
    --font-secondary: 'Rubik';
    --font-scale: 1em;
    --background-color: #1e1e2e;
    --title-color: #b4befe;
    --heading-color: #b4befe;
    --text-color: #cdd6f4;
    --footer-color: #a6adc8;
    --link-color: #b4befe;
    --visited-color: #b4befe;
    --code-background-color: #313244;
    --code-color: #cdd6f4;
    --blockquote-color: #313244;
}