@use "./font";

:root {
    --width: 720px;
    --font-main: 'Symbols Nerd Font Mono', 'Red Hat Mono', monospace;
    --font-secondary: 'Inter';
    --font-scale: 1em;
    --background-color: #171717;
    --title-color: #dcdcdc;
    --heading-color: #dcdcdc;
    --text-color: #aeaeae;
    --footer-color: #aeaeae;
    --border-color: #959595;
    --link-color: #dcdcdc;
    --visited-color: #dcdcdc;
    --code-background-color: #303030;
    --code-color: #fff;
    --blockquote-color: #313244;
}