@use "./_var.scss";

footer {
    padding: 25px 0;
    text-align: center;
    color: var(--footer-color);
}

footer a {
    color: var(--footer-color);
}

svg#icon {
    color: var(--text-color);
    height: 1.5em;
    vertical-align: text-bottom;
}