@use "./_var.scss";

footer {
    padding: 25px 0;
    text-align: center;
    color: var(--footer-color);
}

footer > a {
    font-size: 1.6rem;
}

footer svg {
    color: var(--footer-color);
    width: 24px;
    height: 24px;
}

