@use "./_var.scss";

.title:hover {
    text-decoration: none;
}

.title h1 {
    font-size: 1em;
    padding: 5px 10px;
    background: var(--title-color);
    color: var(--background-color);
    display: inline-block;
    font-weight: 400;
}

nav > p > a {
    color: var(--heading-color);
}