@use "./_var.scss";

header a:nth-child(1) {
    background-color: var(--heading-color);
    color: var(--background-color);
}

p.big {
    font-family: var(--font-secondary);
    font-size: 1.4em;
}

h4 {
    font-size: 14px;
}

strong,
b {
    color: var(--heading-color);
}

hr {
    border: 0;
    border-top: 1px dashed;
	color: var(--text-color)
}

img {
    max-width: 100%;
}

ul {
	list-style-type: "– ";
}