@use "./_var.scss";

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
    font-family: var(--font-main);
    color: var(--heading-color);
}

p.heading {
    font-family: var(--font-main);
    font-size: 1.4em;
}

h4 {
    font-size: 14px;
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid var(--border-color);
	line-height: 1.6;
}

@media only screen and (max-width:767px) {
    main {
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

nav a {
    margin-right: 8px;
}

strong,
b {
    color: var(--heading-color);
}

hr {
    border: 0;
    border-top: 1px dashed;
	color: var(--text-color)
}

img {
    max-width: 100%;
}

ul {
	list-style-type: "– ";
}

svg {
    color: var(--link-color);
}

.codeblock {
    // font-family: ;
    padding: 12px;
    background-color: var(--code-background-color) !important;
    color: var(--code-color) !important;
    border-radius: 3px;
}

.alt-text { 
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.reduced-motion-notify {
    font-size: 0.8rem;
    font-family: var(--font-main);
    margin-bottom: 0;
    display: none;
}

@media (prefers-reduced-motion: reduce) {
    .cursor-blink {
        animation: none !important;
    }

    .button#catppuccin, .button#miku, .button#radicaldreamland {
        opacity: 0;
    }

    .reduced-motion-notify {
        display: block;
    }
}

.cursor-blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
      0% { opacity: 1; }
     49% { opacity: 1; }
     50% { opacity: 0; }
    100% { opacity: 0; }
}

// inlines

.inline-heading {
    display: inline;
}

.inline-contents {
    display: inline;
    vertical-align: baseline;
}

.inline-contents::after {
    content: "\a";
    white-space: pre;
}

// emotes and icons

#emote {
    height: 1em;
    vertical-align: baseline;
}

svg#icon {
    height: 1.5em;
    vertical-align: text-bottom;
}

// projects

ul.projects {
	list-style-type: none;
	padding: unset;
}

ul.projects li {
	margin-bottom: 20px;
}

// button
img.button {
    color: transparent;
    image-rendering: pixelated;
    width: 88px;
    height: 31px;
}

a:has(.button) {
    text-decoration-line: none;
}