@use "./lib/var";

body {
    background-color: var(--background-color);
    font-family: var(--font-body);
    color: var(--text-color);
}

main {
    margin: 20px;
}

header {
    display: grid;
    grid-template-columns: 1fr 15rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "nav nav"
        "title title"
        "title title";
    row-gap: 40px;
    margin-bottom: 5vh;

    div.title {
        grid-area: title;

        h1 {
            font-family: var(--font-heading);
            font-weight: 300;
            font-size: 6rem;
            line-height: 1;
            letter-spacing: -0.08em;
        }

        p.description {
            margin: 0.5em 0;
            opacity: 80%;
        }
    }
}

article {
    line-height: 1.5;
    margin: 0 20vw;
    margin-bottom: 80px;

    h2 {
        font-family: var(--font-heading);
        font-weight: 300;
        font-size: 3rem;
        letter-spacing: -0.06em;
    }

    h3 {
        font-family: var(--font-code);
        text-transform: uppercase;
        opacity: 65%;
    }

    p {
        margin-bottom: 0.5em;
    }

    em {
        // this is precise because I'm trying to meet APCA
        color: color-mix(in srgb, var(--text-color), transparent 29%); 
        font-variation-settings: 'slnt' 30;
    }

    a {
        color: var(--text-color)
    }

    hr {
        margin: 3rem auto 2rem auto;
        width: 60%;
        opacity: 65%;
    }

    section#also:not(:has(p)) {
        display: none;
    }

    section#now-prev {
        h2 {
            font-size: 2rem;
            letter-spacing: -0.04em;
        }
    }
}

@media (max-width: 775px) {


    header div.title h1 {
        font-size: 4rem;

    }

    article {
        margin-left: 0;
        margin-right: 0;

        h2 {
            font-size: 2rem;
        }

        section#now-prev h2 {
            font-size: 1.5rem;
        }
    }
}