@use "lib/var";
@use "lib/article";

body {
    background-color: var(--background-color);
    font-family: var(--font-body);
    color: var(--text-color);
}

main {
    margin: 20px;
}

article {
    @extend %article;

    section#also:not(:has(p)) {
        display: none;
    }
}