@use "_var";

body {
    background-color: var(--background-color);
    font-family: var(--font-body);
}

main {
    margin: 20px;
}

header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "nav nav nav nav nav"
        "title title title title title"
        "title title title title title"
        "title title title title title"
        "title title title title title";

    row-gap: 40px;

    nav {
        grid-area: nav;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-areas: 
            "back . . . name";
        
        font-family: var(--font-heading);
        font-size: 1.5rem;

        span.back {
            grid-area: back;

            a {
                color: black
            }
        }

        span.name {
            grid-area: name;
        }
    }

    div.title {
        grid-area: title;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        grid-template-areas:
            "heading heading heading heading date-meta"
            "heading heading heading heading date-meta"
            "heading heading heading heading date-meta"
            "heading heading heading heading date-meta";
        
        div.heading {
            grid-area: heading;

            span.type {
                opacity: 65%;
                text-transform: uppercase;
            }
            
            h1 {
                font-family: var(--font-heading);
                font-size: 4.5rem;
                letter-spacing: -0.06em;
            }
        }

        div.date-meta {
            grid-area: date-meta;

            span {
                display: block;
            }
            span:not(.date) {
                text-transform: uppercase;
                opacity: 65%;
            }
        }
    }
}

article {
    line-height: 1.35;
    // margin-top: 20px;
    padding: 0 120px;
}