---
import Meta from "../layouts/meta.astro";
import {SparkleFillIcon} from '@primer/octicons-react'
import "../styles/404.scss"
---
<Meta>
    <main>
        <div class="title">
            <h1>This is not the page you are looking for.</h1>
        </div>
        <div class="return-home">
            <span>
                <SparkleFillIcon size={32} className="header-icon"/>
                <a href="/">Return home?</a>
            </span>

        </div>
    </main>
</Meta>