---
import Layout from "../layouts/layout.astro";
import "../styles/main.scss";
import {SparkleFillIcon} from '@primer/octicons-react'

---
<Layout>
	<div class="codeblock heading" aria-label='This is the depiction of a terminal with a blinking cursor, with the number "404" displayed.'>
		<b>></b> 
        {<SparkleFillIcon size="1em"/>} 
        <b>404</b>
        <span class="cursor-blink">_</span>
	</div>

    <p>
        This is not the page you are looking for.
    </p>
    <a href="/">
        Return home?
    </a>
</Layout>