---
import Layout from "../layouts/layout.astro";
import "../styles/about.scss";
---

<Layout title="About me">
    <div class="columns">
        <div class="column left">
            <p class="big">
                My name is Angel Wang. I'm a queer Chinese tinkergirl living in Alberta, Canada. I write code and music to
                stop myself from going insane, with the goal of creating → computer [for] human.
            </p>
            <p class="big">
                The songs and software I never wrote end up in the garbage can that is my Tumblr. Check it out if you
                like half-baked poetry.
            </p>
            <p class="big">
                Outside of this, I like video games and typography. Sometimes I call myself a designer. Sometimes I'll
                make something worth noting. Consistency is overrated.
            </p>
            <hr>
            <h2>This website</h2>
            <p>
                This website was handwritten in Astro and Sass. It's hosted on GitHub Pages—you can find the source
                <a href="https://github.com/weightedangelcube/web">here</a>. The title font is
                <a href="https://pangrampangram.com/products/neue-machina-collection">PP Neue Machina</a> by Pangram
                Pangram, and the body font is <a href="https://rsms.me/inter/">Inter</a> by Rasmus Andersson, the latter
                from which the layout of this site was unceremoniously plagiarized. Many thanks (and apologies) to him.  
            </p>
        </div>
        <div class="column right">
            <a class="big" href="https://insidethecube.tumblr.com/">Tumblr @insidethecube</a>
            <a class="big" href="https://github.com/weightedangelcube">GitHub @weightedangelcube</a>
            <a class="big" href="https://www.youtube.com/@weightedangelcube">YouTube @weightedangelcube</a>
        </div>
    </div>
</Layout>