---
import Layout from "../layouts/layout.astro";
import "../styles/main.scss";
import "../styles/blog.scss"
import {type MarkdownInstance} from "astro";

const posts = Object.values(import.meta.glob('./posts/*.mdx', { eager: true })) as MarkdownInstance<any>[];
let empty = posts === undefined || posts.length === 0;
---

<Layout>
    <h2>blog</h2>
    <ul class="blog-posts">
        {!empty && posts.map(post =>
            <li>
                <span>
                    <time datetime={new Date(post.frontmatter.date).toISOString()}>{new Date(post.frontmatter.date).toDateString()}</time>
                </span>
                <a href={post.url}>{post.frontmatter.title}</a>
            </li>
        )}
        {empty && <p>No posts yet</p>}
    </ul>
</Layout>