---
import Layout from "../layouts/layout.astro";
import "../styles/main.scss";
---

<Layout>
    <h2>buttons</h2>
    <p>things I've collected on the internet.</p>
    <a href="https://catppuccin.com/">
        <img class="button" loading="lazy" decoding="async" src="/img/buttons/catppuccin.webp" alt="Catppuccin" title="Catppuccin" />
    </a>
    <a href="https://xkcd.com">
        <img class="button" loading="lazy" decoding="async" src="/img/buttons/xkcd.png" alt="xkcd" title="xkcd" />
    </a>
    <a href="https://www.thinkwithportals.com/">
        <img class="button" loading="lazy" decoding="async" src="/img/buttons/portal.jpg" alt="Aperture Labs" title="Portal 2" />
    </a>
    <a href="https://en.wikipedia.org/wiki/Hatsune_Miku">
        <img class="button" loading="lazy" decoding="async" src="/img/buttons/miku.gif" alt="this site is Miku Approved" title="Hatsune Miku" />
    </a>
    <a href="https://www.mozilla.org/firefox/">
        <img class="button" loading="lazy" decoding="async" src="/img/buttons/firefox.gif" alt="Firefox" title="Firefox" />
    </a>
    <a href="https://kernel.org/">
        <img class="button" loading="lazy" decoding="async" src="/img/buttons/linux.png" alt="Linux" title="Linux" />
    </a>
    <a href="https://blog.radicaldream.land">
        <img class="button" loading="lazy" decoding="async" src="/img/buttons/radicaldreamland.gif" alt="Dispatch from the Radical Dreamland" title="Lena Raine" >
    </a>
</Layout>
