---
import Layout from "../layouts/layout.astro";
import "../styles/main.scss";
---

<Layout>
	<h2>contact</h2>
	<p>
		if you need to reach me, you can usually find me quickest at <b>angel@angelcube.dev</b>.	
	</p>
	<p>
		otherwise, you can find me in most places with the username <b>@angelcube</b>, <b>@weightedangelcube</b>, or some variant of it.
	</p>
</Layout>