---
import Layout from "../layouts/layout.astro";
import "../styles/main.scss";
---

<Layout>
	<h2>hi
		<!-- <img id="emote" src="img/angelHap.png" alt="Friendly cartoon emote of the Pokémon Drilbur smiling cutely."/> -->
	</h2>
	<p>
		I'm <b>angelcube</b>, and I make games.	
	</p>
	<p>
		my tools include Java and C#; I'm also familliar with the Fabric toolchain for Minecraft, and the Godot game engine and API.
	</p>
	<p>
		beyond coding, I like to do a little art, obsess over Drilbur, and play lots of Portal 2.
	</p>
</Layout>


