---
import Layout from "../layouts/layout.astro";
import "../styles/main.scss";
import "../styles/now.scss";
---

<Layout>
    <h2>now playing</h2>
    <h3>tunes</h3>
    <ul id="tunes-list">

    </ul>
</Layout>


