---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import { faGithub, faTumblr, faYoutube } from '@fortawesome/free-brands-svg-icons'
import "../styles/footer.scss";

---

<footer>
	<a href="https://github.com/weightedangelcube" style="text-decoration: none;" aria-label="Link to my GitHub profile">
		<FontAwesomeIcon icon={faGithub} />
	</a>

	<a href="https://insidethecube.tumblr.com/" style="text-decoration: none;" aria-label="Link to my Tumblr page">
		<FontAwesomeIcon icon={faTumblr} />
	</a>

	<a href="https://www.youtube.com/@weightedangelcube" style="text-decoration: none;" aria-label="Link to my YouTube page">
		<FontAwesomeIcon icon={faYoutube} />
	</a>

	<p>Angel Wang &copy 2026 (<a href="/CREDITS.txt">Credits</a>)</p>
</footer>