---
import "../styles/footer.scss";
---

<footer>
	<a href="https://github.com/weightedangelcube" style="text-decoration: none;">
		
	</a>

	<a href="https://bsky.app/profile/angelcube.dev" style="text-decoration: none;">
		
	</a>

	<a href="https://insidethecube.tumblr.com/" style="text-decoration: none;">
		
	</a>

	<a href="https://www.youtube.com/@weightedangelcube" style="text-decoration: none;">
		
	</a>

	<p>Angel Wang &copy 2026 (<a href="/CREDITS.txt">Credits</a>)</p>
</footer>