---
import "../styles/header.scss"
import {SparkleFillIcon} from '@primer/octicons-react'
const { title } = Astro.props
---
<header>
    <div class="title">
        <h1>{title}</h1>
    </div>
    <nav>
        <a href="/" aria-label="Home">
            <SparkleFillIcon size={32} className="header-icon"/>
        </a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
    </nav>
</header>
