---
import "../styles/header.scss";
---

<header>
	<a class="title" href="/">
		<h1>angelcube</h1>
	</a>
	<nav>
		<p>
			<a href="/">home</a>
			<a href="/projects">projects</a>
			<a href="https://angelcube.bearblog.dev/">blog</a>
			<a href="/contact">contact</a>
		</p>
	</nav>
</header>